<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  
  <body>  
    <div class = "container-fluid">
      
      <div class="row">
        
        <div class="col-lg-8">
          <table class="table table-striped table-hover">
            <tr>
              <th colspan="2"><h3>Students</h3></th>
            </tr>
            <tr>
              <td>Name</td>
              <td>Reason</td>
            </tr>
            
            <tr>
              <td>Mockup User <span class="badge badge-primary">being helped by <%= @users[0].name %></span></td>
              <td>I need help!</td>
            </tr>
            <tr>
              <td>Mockup User <span class="badge badge-warning">waiting</span></td>
              <td>I need help!</td>
            </tr>
            
          </table>
        </div>
        
        <div class="col-lg-4">
          <table class="table table-hover table-striped">
            <tr>
              <th colspan="2"><h3>TAs</h3></th>
            </tr>
            <tr>
              <td>Name</td>
              <td>Status</td>
            </tr>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td>
                <% if !user.active.nil? && user.active %>
                TA is ready to help
                <% else %>
                TA does not have hours right now
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
        
      </div>
      
    </div>
  </body>
</html>

