<center>
  <div class="d-flex justify-content-center">
    <div class = "container-fluid" style="margin:25px">
    </div>
  </div>
</center>

<div class="container-fluid">
  <h1>Oops!</h1>
  <h4>You need to use this tool through canvas</h4>
</div>

<div class = "container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <table class="table table-striped table-hover" style="table-layout: fixed">
        <tr>
          <th colspan="2"><h3>Students</h3></th>
        </tr>
        <tr>
          <td style="width: 100px"><h5>Name</h5></td>
          <td><h5>Reason</h5></td>
        </tr>
      </table>
    </div>

    <div class="col-lg-4">
      <table class="table table-hover table-striped">
        <tr>
          <th colspan="2"><h3>TAs</h3></th>
        </tr>
      </table>
    </div>

  </div>

</div>

<div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="courseeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="courseModalLabel">Choose a course to have TA hours for</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Choose this course</button>
      </div>
    </div>
  </div>
</div>
