// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#ta_table {
    table-layout: fixed;
    display: inline-block;
    width: 200px;
}

table#ta_table tr:nth-child(even) {
    background-color: #eee;
}
table#ta_table tr:nth-child(odd) {
    background-color: #fff;
}

table#ta_table th, td {
    width: 100px;
}

table#student_table {
    table-layout: fixed;
    display: inline-block;
    width: 200px;
}

table#student_table tr:nth-child(even) {
    background-color: #eee;
}
table#student_table tr:nth-child(odd) {
    background-color: #fff;
}

table#student_table th, td {
    width: 100px;
}
